<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1067835837837-unpbg3ml5mb22lslorcio3uo9sulcla3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1067835837837-unpbg3ml5mb22lslorcio3uo9sulcla3</string>
	<key>API_KEY</key>
	<string>AIzaSyDA3qAPlwqVZgQiNWcShAlAepx9bjoFK74</string>
	<key>GCM_SENDER_ID</key>
	<string>1067835837837</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.invertase.CartWizard</string>
	<key>PROJECT_ID</key>
	<string>cartwizard-8b44e</string>
	<key>STORAGE_BUCKET</key>
	<string>cartwizard-8b44e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1067835837837:ios:2d5bced1f4cd62a4</string>
	<key>DATABASE_URL</key>
	<string>https://cartwizard-8b44e.firebaseio.com</string>
</dict>
</plist>